.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--p-white);
}

.emptyState {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--p-20);
    padding: 40px;
}

.emptyIcon {
    font-size: 80px;
    color: var(--p-300);
    margin-bottom: 24px;
}

.emptyTitle {
    font-size: var(--h3-font-size);
    font-weight: 600;
    color: var(--p-950);
    margin-bottom: 8px;
}

.emptyText {
    font-size: var(--p-font-size);
    color: var(--n-500);
    text-align: center;
    max-width: 300px;
    line-height: 1.5;
}